/* General Page Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #A5ACAF; /* Gray background */
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Content Styling */
#content {
    background-color: #002244; /* Navy blue */
    padding: 20px;
    border: 2px solid #69BE28; /* Green border */
    border-radius: 8px;
    text-align: center;
    width: 320px;
}
